body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
  

/* ID selectors */

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30%;
}

#navbar-buttons-container {
  display: flex;
  flex-direction: row;
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 70%;
}
